<div class="reveal">
	<div class="slides">
		<section id="title" data-markdown>
			<script type="text/template">
				## Trees, Sharing, & State
				#### [Immutable.js](https://facebook.github.io/immutable-js/) and [Redux.js](http://redux.js.org/)
				<br /> [by Jason Wohlgemuth](https://twitter.com/@jhwohlgemuth)
			</script>
		</section>
		<section id="intro" data-markdown data-transition="convex">
			<script type="text/template">
				## Who Am I?
				##### Jason Wohlgemuth
				<img src="img/profile.jpg" class="img-circle img-responsive img-center profile" />
				<br /> [
				<i class="fa fa-twitter" aria-hidden="true"></i>/@jhwohlgemuth](https://twitter.com/@jhwohlgemuth)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/jhwohlgemuth](https://github.com/jhwohlgemuth)<br />
			</script>
		</section>
		<section id="agenda">
			<h2>Agenda</h2>
			<ol>
				<li class="fragment fade-up">ES6 Primer (the docs are full of it)</li>
				<li class="fragment fade-up">The "3 T's of Functional Programming"</li>
				<li class="fragment fade-up"><q>"Some things never change...some things do"</q></li>
				<li class="fragment fade-up"><q>"love what you're doing with Redux"</q></li>
			</ol>
		</section>
		<% include es6-primer %>
		<% include functional-programming %>
		<% include immutablejs %>
		<% include redux %>
		<section id="references" data-background="img/web-surfing-time.gif">
			<h3>References</h3>
			<div style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
				<ul>
					<li><a href="https://groups.csail.mit.edu/medg/people/psz/Licklider.html">Man-Computer Symbiosis</a></li>
					<li><a href="https://facebook.github.io/immutable-js/">Immutable.js Homepage (d'uh)</a></li>
					<li><a href="http://redux.js.org/">Redux Homepage (double d'uh)</a></li>
					<li><a href="https://auth0.com/blog/intro-to-immutable-js/">Introduction to Immutable.js and Functional Programming Concepts</a></li>
					<li><a href="https://medium.com/@dtinth/immutable-js-persistent-data-structures-and-structural-sharing-6d163fbd73d2">Immutable.js, persistent data structures and structural sharing</a></li>
					<li><a href="http://redux.js.org/docs/recipes/UsingImmutableJS.html">Using Immutable.JS with Redux</a></li>
					<li><a href="https://www.slideshare.net/mohitthatte/a-deep-dive-into-clojures-data-structures-euroclojure-2015">A Deep Dive into Clojure's Data Structures</a></li>
					<li><a href="https://github.com/acdlite/flux-standard-action">Flux standard action</a></li>
					<li><a href="https://www.amazon.com/Developing-Redux-Edge-Johannes-Lumpe/dp/1939902460/ref=sr_1_1?ie=UTF8&qid=1502482368&sr=8-1&keywords=Developing+a+Redux+Edge">Developing a Redux Edge (book)</a></li>
					<li><a href="https://stackoverflow.com/a/32920459">Why use redux over flux?</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
